/* Might break this into separate CSS files */

/* Homepage */

.jumboOne{
    background-color: rgb(243, 241, 241);
    padding-top: 13rem;
    padding-bottom: 16rem;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(100, 99, 99);
    border: rgb(194, 194, 194) 1px solid;

}

.jumboTwo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.60),
        rgba(0, 0, 0, 0.60)
      ),
      url(./photos/jumbo2.jpg);
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 30rem;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    align-items: center;
}

.cirimg{
    width: 200px;
    height: 200px;

}

.rows{
    padding-left: 2rem;
    padding-right: 2rem;
}

.jumboOne .awardTitle{
    font-size: 17px;
    font-weight: lighter;
    font-style: italic;
    color: rgb(43, 43, 43);
    font-weight: bold;
}


.jumboOne .awardFont{
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    color: rgb(31, 31, 31);
}

.jumboOne .titleFont{
    color: rgb(31, 31, 31);
    font-size: 70px;
    font-weight: bold;
}

.lastName{
    color: rgb(138, 65, 23);
    font-size: 70px;
    font-weight: bold;
}


.jumboOne .mainFont{
    color: rgb(31, 31, 31);
    font-size: 60px;
}

.padding{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.paddingAll{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  
}

.paddingR{
  padding-right: 2rem;
}



/* Research */

.carouseldims{
    transition: 1s;
}




.carouselimg{
    height: 800px;
    width: 100%;
    background: #777;
    color: #777;
}

/* 
.caroOne{
    height: 800px;
    width: 100%;
    background: #777;
    color: #777;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.35)
      ),
      url(./photos/slide1.jpg);
    background-size: cover;
}

.caroTwo{
    height: 800px;
    width: 100%;
    background: #777;
    color: #777;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.5)
      ),
      url(./photos/Design.jpg);
    background-size: cover;
}

.caroThree{
    height: 800px;
    width: 100%;
    background: #777;
    color: #777;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.6)
      ),
      url(./photos/peer.jpg);
    background-size: cover;
}

.caroFour{
    height: 500px;
    width: 100%;
    background: #777;
    color: #777;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.35)
      ),
      url(./photos/cozmOSU.jpg);
    background-size: cover;
} */


.rowresearch{
    justify-content: center;
}

.jumboResearch{
    background-color: rgb(223, 223, 223);
    padding-top: 2rem;
    padding-bottom: 0;
    padding-left: 2rem;
}







/*Arrow*/


  .downArrow{
      bottom: 45%;
      left: 50%;
  }
  .bounce {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
